<div class="global-wrap">
    <div class="chat-main">
        <div class="ct_head">
            <div class="chat-info">
                <div class="chat-info-img">
                    <a href="#">
                        <img src="/media/pf-dummy01.png" alt="">
                    </a>
                </div>
                <div class="chat-info-txt" id="room-info">
                    <span class="room-name"></span>
                    <span>멤버 <span class="room-user-count">0</span>명</span>
                </div>
                <div class="btn-more">
                    <a href="#" class="chat-menu-i">
                        <img src="/media/i-chat-menu.png" alt="">
                    </a>
                    <ul class="chat-submenu">
                        <li>
                            <a href="#">새 채팅방 만들기</a>
                        </li>
                        <li>
                            <a href="#">채팅방 설정</a>
                        </li>
                        <li>
                            <a href="#">초대</a>
                        </li>
                        <li>
                            <a href="#">메시지 검색</a>
                        </li>
                        <li>
                            <a href="#">메시지 저장</a>
                        </li>
                        <li>
                            <a href="#">나가기</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ct_wrap chatting-scroll">
            <div class="ct_body chat-p">
                <div class="chatting-wrap">
                    <div class="chatting-list-wrap" id="chat-list"></div>
                </div>
            </div>
        </div>
        <div class="ct_bottom">
            <div class="__chat-wrap">
                <textarea id="msg-box" placeholder="메시지를 입력해 주세요." ></textarea>
                <div class="chat-i-wrap">
                    <ul>
                        <li>
                            <a href="#">
                                <input type="file" id="chat-file">
                                <label for="chat-file">
                                    <img src="/media/i-file.png" alt="">
                                </label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="" id="chat-emot">
                                <label for="chat-emot">
                                    <img src="/media/i-emot.png" alt="">
                                </label>
                            </a>
                        </li>
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                <input type="" id="chat-clip">-->
<!--                                <label for="chat-clip">-->
<!--                                    <img src="/media/i-clip.png" alt="">-->
<!--                                </label>-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  const roomIdx = "<%=roomIdx %>";
</script>
<script src="/js/class/user.class.js"></script>
<script src="/js/class/room.class.js"></script>
<script src="/js/class/chat.class.js"></script>
<script src="/js/chat/index.js"></script>
<script src="/js/socket/chat/chat.socket.js"></script>
<script>
    $(document).ready(function(){
        var target = $(".chat-submenu");
        $(document).on("click", ".chat-menu-i", function (e){
            target.show();
            target.addClass('d-block');
        });
        $(document).mouseup(function (e){
            if(target.has(e.target).length==0) {
                target.hide();
                target.removeClass('d-block');
            }
        });
        $(".chat-submenu > li > a").click(function(){
            target.hide();
            target.removeClass('d-block');
        });
    });
</script>