@charset "UTF-8";

.global-wrap .main{
    display: flex;
    flex-wrap: wrap;
}

.global-menu{
    flex: 70px 0 0;
    height: 100vh;
    background-image: linear-gradient(to top,#F9611E,#F3880E);
}

.global-menu .nav-wrap .nav-body li{
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.global-menu .nav-wrap .nav-body li a{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.global-menu .nav-wrap .nav-body li a img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.content{
    flex: 1 1 auto;
}

.ct_head{
    padding:30px 20px;
}

.ct_wrap{
    border-top: 1px solid #eee;
    padding:10px 20px;
}

.content .name-search input{
    padding: 10px 0;
    border: none;
    background-color:#F2F2F2;
    width:100%;
    border-radius: 50em;
}
.content .name-search input[placeholder]{
    text-indent: 14px;
    font-size:14px;
    color:#ABABAB;
}

.member_tr{
    display: flex;
    align-items: center;
}

.content .togg-tit{
    padding-bottom: 1em;
}

.content .togg-tit h3{
    color:#FA781C;
    font-size: 15px;
}

.content .member_tr{
    padding:10px 0;
}

.content .member_tr .profile-info{
    padding-left: 1em;
}

.content .member_tr .profile-info>p{
    font-size: 15px;
    font-weight: 700;
    color:#333;
}

.content .member_tr .profile-info>span{
    color:#AAAAAA;
}

/* 조직도 css */
.member {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 1100px;
    min-height: 640px;
    padding: 1.5rem;
    border: 1px solid;
}
.member-cont {
    display: flex;
    justify-content: center;
}
.member-cont .flex-cont:first-child {
    flex: 0 0 20%;
}
.member-cont .flex-cont h2 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #AAAAAA;
}
.member-cont .flex-cont .select-team {}
.member-cont .flex-cont .select-team .select-team-wrap {}
.member-cont .flex-cont .select-team .select-team-wrap .team-select {}
.member-cont .flex-cont .select-team .select-team-wrap .team-select .__select {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #666666;
}




.member-cont .flex-cont:last-child {
    flex: 0 0 80%;
}
.member-cont .flex-cont .border-wrap {
    padding-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}
.member-cont .flex-cont .search-mode {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    /*margin: 0 auto;*/
}
.member-cont .flex-cont .search-mode input {
    width: 100%;
    height: 40px;
    padding: 0 0 0 1rem;
    border: 0;
    border-radius: 20px;
    background: #F2F2F2;
    position: relative;
}
.member-cont .flex-cont .search-mode input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #ABABAB;
}
.member-cont .flex-cont .search-mode .fa-search {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
}
.member-cont .flex-cont .search-mode .fa-search img {
    display: block;
    max-width: 100%;
}
.member-cont .flex-cont .search-mode .search {
    color: #808080;
}
.member-cont .flex-cont .member-num {

}
.member-cont .flex-cont .member-num .member-wrap {
    display: flex;
}
.member-cont .flex-cont .member-num .member-wrap .select-group {
    display: flex;
}
/* input 숨겨준다 */
.member-cont .flex-cont .member-num .member-wrap .select-group input#check-member{
    /*display:none;*/
}
.member-cont .flex-cont .member-num .member-wrap .select-group input#check-member + label{
    cursor:pointer;
}
/* label:before에 체크하기 전 상태 CSS */
.member-cont .flex-cont .member-num .member-wrap .select-group input#check-member + label:before{
    content:"";
    display:inline-block;
    width:17px;
    height:17px;
    border:2px solid #F47C7C;
    border-radius: 4px;
    vertical-align:middle;
}
/* label:before에 체크 된 상태 CSS */
.member-cont .flex-cont .member-num .member-wrap .select-group input#check-member:checked + label:before{
    content:"";
    background-color:#F47C7C;
    border-color:#F47C7C;
}
.member-cont .flex-cont .member-num .member-wrap .select-group .select-member {
    font-size: 18px;
    font-weight: 700;
    color: #FA781C;
}
.member-cont .flex-cont .member-num .member-wrap .select-num {}
.member-cont .flex-cont .member-num .member-wrap .select-num span {
    font-size: 12px;
    font-weight: 600;
    color: #ABABAB;
}
.member-cont .flex-cont .member-num .member-wrap .select-num span b {
    color: #FA781C;
}
.member-cont .flex-cont .member-num .member-wrap .low-select-group {}
.member-cont .flex-cont .member-num .member-wrap .low-select-group label {}
.member-cont .flex-cont .member-num .member-wrap .low-select-group input {}
.member-cont .flex-cont .member-num .member-wrap .low-select-group span {
    font-size: 12px;
    font-weight: 600;
    color: #ABABAB;
}