@charset "UTF-8";
/* ******** 목차 ******** */
/*메인*/
/*로그인*/
/* 조직도 css */


/*메인*/
.global-wrap .main{
    display: flex;
    flex-wrap: wrap;
}

.global-menu{
    height: 100%;
    background-image: linear-gradient(to top,#F9611E,#F3880E);
    position: fixed;
    width: 70px;
}

.global-menu .nav-wrap{
    padding-top:30px;
}

.global-menu .nav-wrap .nav-body li{
    margin: 0 auto 10px;
    width: 40px;
    height: 40px;
}
.global-menu .nav-wrap .nav-body li a{
    opacity: .3;
}

.global-menu .nav-wrap .nav-body li a.active{
    opacity: 1;
}

.global-menu .nav-wrap .nav-body li a{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.global-menu .nav-wrap .nav-body li a img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content{
    flex: 1 1 auto;
    padding-left: 70px;
}

.ct_head{
    padding:30px 20px;
}

.ct_body{
    padding:10px 20px;
}

.ct_bottom{
    padding:10px 20px;
}

.ct_wrap{
    border-top: 1px solid #eee;
    padding:10px 20px;
}

.content .name-search{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    width: 100%;
    border-radius: 50em;
}

.content .name-search input{
    width:64%;
    background-color: #F2F2F2;
    border-radius: 50em;
    padding: 10px 0;
    border: none;

}
.content .name-search input[placeholder]{
    text-indent: 14px;
    color:#ABABAB;
}

.content .name-search input{

}

.content .name-search p {
    width:60px;
    height:14px;
    font-size: 14px;
    background-image: url("../media/i-search.png");
    background-repeat: no-repeat;
    background-position: center;
}

.member_tr{
    display: flex;
    align-items: center;
}

.member_tr.chat__ a{
    width: 100%;
    display: flex;
    align-items: center;
}

.member_tr.chat__ .profile-info > span{
    width:160px;
    display: inline-block;
    /*width:6rem;*/
    /*!*color:#666!important;*!*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.member_tr.chat__ .date_info{
    margin-left: auto;
    margin-bottom: auto;
    text-align: right;
}

.member_tr.chat__ .date_info .date{
    padding:0.3rem 0 0.5rem;
    color:#BBBBBB;
    font-size:12px;
}

.nav-wrap .nav-body li{
    position: relative;
}

.nav-wrap .nav-body li .num__{
    position: absolute;
    top: 1px;
    right: -10px;
}

.nav-wrap .nav-body li .num__,
.member_tr.chat__ .date_info .chat_num{
    display: inline-block;
    font-size:10px;
    padding:3px 8px;
    border-radius: 50em;
    background-color:#F95454;
    color:#fff;
}

.content .togg-tit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;

}
.content .togg-tit .icon{
    width:9px;
    height:5px;
    background-image: url("../media/i-toggle-up.png");
}
.content .togg-tit .icon.up{
    background-image: url("../media/i-toggle-up.png");
}

.content .togg-tit .icon.down{
    background-image: url("../media/i-toggle-down.png");
}


.content .togg-tit h3{
    color:#FA781C;
    font-size: 15px;
}

.content .member_tr{
    padding:10px 0;
}

.content .member_tr .profile-img{
    position: relative;
}

.content .member_tr .profile-img figure{
    width: 60px;
    height: 60px;
    position:relative;
}

.content .ours-list .member_tr .profile-img figure{
    width:44px;
    height:44px;
}

.content .member_tr .profile-img figure img{
    width:100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content .member_tr .group-chat-img .list__{
    border-radius: 50em;
    overflow: hidden ;
    width:44px;
    height:44px;
    display: flex;
    flex-wrap: wrap;
}

.content .member_tr .group-chat-img .list__ li{
    position:relative;
    width:50%;
}

.content .member_tr .group-chat-img .list__ li img{
    width:100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content .member_tr .profile-img .online-state{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width:15px;
    height:15px;
    background-color:#69DE78;
    border-radius: 50em;
}

.content .ours-list .member_tr .profile-img .online-state{
    width:10px;
    height:10px;
}

.content .member_tr .profile-info{
    padding-left: 1em;
}

.content .member_tr .profile-info>p{
    font-size: 15px;
    font-weight: 700;
    color:#333;
}

.content .member_tr .profile-info>span{
    color:#AAAAAA;
}

.bottom_btn{
    position:fixed;
    bottom: 1em;
    right: 1em;
}

/*프로필뷰*/
.popup-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-view-wrap{
    max-width: 400px;
    width: 100%;
    padding:0 30px;
}

.profile-view-wrap .img-info {
    border-bottom: 1px solid #AAAAAA;

}

.profile-view-wrap .img-info figure{
    position:relative;
    width:80px;
    height:80px;
    margin: 0 auto;
    border-radius: 50em;
    overflow: hidden;
}

.profile-view-wrap .img-info figure img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.profile-view-wrap .profile-info{
    text-align: center;
}
.profile-view-wrap .profile-info p{
    font-size: 18px;
    font-weight: 700;
}

.profile-view-wrap .profile-info span{
    color:#666666;
    font-size:12px;
}

.profile-view-wrap .detail-info{
    padding:30px 20px 10px;
    border-bottom: 1px solid #EEEEEE;
}

.profile-view-wrap .detail-info ul li{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size:12px;
}

.profile-view-wrap .detail-info .tit__{
    width:30%;
    color:#666;
}

.profile-view-wrap .detail-info .desc__{
    width: 70%;
    color:#999;
}
.profile-view-wrap .detail-info .desc__ span {
    color: #FA781C;
}
.profile-view-wrap .chat-btn{
    text-align: center;
    width: 100px;
    margin: 0 auto;
}
.profile-view-wrap .chat-btn a{
    display: block;
}
.profile-view-wrap .chat-btn a p{
    font-size:11px;
    color:#aaa;
}

/*로그인*/
.login-wrapper{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrap{
    padding:0 30px;
    max-width: 400px;
    width: 100%;
}

.login-wrap .logo-wrap{
    text-align: center;
}

.login-wrap .logo-wrap h2{
    color:#222;
    text-align: center;
    padding:20px 0;
    font-size:23px;
    font-weight: 400;
}

.login-wrap .login-area .input-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-wrap .login-area .input-area input{
    padding:20px 0 10px;
    display: block;
    border: none;
    border-bottom:1px solid #DDDDDD;
    margin:1px;
    background-repeat: no-repeat;
    background-position: left 66%;
    text-indent: 30px;
}

.login-wrap .login-area .input-area input::placeholder{
    font-size:13px;
    color:#ccc;
}

.login-wrap .login-area .input-area input:first-child{
    background-image: url("../media/i-id.png");
}
.login-wrap .login-area .input-area input:last-child{
    background-image: url("../media/i-password.png");
}

.login-wrap .checkbox{
    padding:20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.login-wrap .checkbox input{
    display: none;
}

.login-wrap .checkbox input + label{
    display: inline-block;
    width:19px;
    height:19px;
    border-radius:50em;
    border:1px solid #ddd;
}

.login-wrap .checkbox input:checked + label{
    background-image: url("../media/i-check.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#FA781C;
    border:none;
}

.login-wrap .checkbox input + label + label{
    text-indent: 5px;
    color:#222;
    font-size:13px;
}

.login-wrap .login-btn{

}

.login-wrap .login-btn button{
    padding:10px 0;
    width:100%;
    text-align: center;
    background-image: linear-gradient(to left ,#F9611E, #F3880E);
    color:#fff;
    font-size:15px;
    border-radius: 10px;
}

/* 조직도 css */
.arrow1 {
    transform: rotate(0deg);
}
.arrow2 {
    transform: rotate(90deg);
}
.active-color {
    color: #FA781C !important;
}
.member {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 1100px;
    width: 100%;
    min-height: 640px;
}
.member-cont {
    display: flex;
    justify-content: center;
}
.member-cont .flex-cont:first-child {
    padding: 1.5rem 0 0 1.5rem;
    position: relative;
    flex: 0 0 20%;
}
.member-cont .flex-cont:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 100vh;
    background-color: #DDDDDD;
}
.member-cont .flex-cont h2 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #AAAAAA;
}
.member-cont .flex-cont .select-team .select-team-wrap .team-select {
    display: table;
}
.member-cont .flex-cont .select-team .select-team-wrap .team-select .__list {
    display: none;
}
.member-cont .flex-cont .select-team .select-team-wrap .team-select .__select {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    color: #666666;
}
.member-cont .flex-cont .select-team .select-team-wrap .team-select .__select figure:last-child {
    margin: 0 4px;
}
.member-cont .flex-cont .select-team .select-team-wrap .team-select .__select img {
    display: block;
    max-width: 100%;
}
.member-cont .flex-cont .select-team .select-team-wrap02 .__select {
    margin-left: 15px;
}
.member-cont .flex-cont .select-team .select-team-wrap03 .__select {
    margin-left: 30px;
}
.member-cont .flex-cont .select-team .select-team-wrap04 .__select {
    margin-left: 45px;
}
.member-cont .flex-cont:last-child {
    padding: 1.5rem;
    flex: 0 0 80%;
}
.member-cont .flex-cont .border-wrap {
    padding-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}
.member-cont .flex-cont .search-mode {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.member-cont .flex-cont .search-mode input {
    width: 100%;
    height: 40px;
    padding: 0 0 0 1rem;
    border: 0;
    border-radius: 20px;
    background-color: #F2F2F2;
    position: relative;
}
.member-cont .flex-cont .search-mode input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #ABABAB;
}
.member-cont .flex-cont .search-mode .fa-search {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
}
.member-cont .flex-cont .search-mode .fa-search img {
    display: block;
    max-width: 100%;
}
.member-cont .flex-cont .search-mode .search {
    color: #808080;
}
.member-cont .flex-cont .member-num .member-wrap {
    display: flex;
    align-items: center;
}
.member-cont .flex-cont .member-num .member-wrap .select-group {
    display: flex;
    padding-left: 15px;
}
.check-member {
    display: none;
}
.check-member + .checkbox-label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.check-member:checked + .checkbox-label {
    background-image: url("../media/checked-icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    border: 0;
    cursor: pointer;
}
.member-cont .flex-cont .member-num .member-wrap .select-group .select-member {
    font-size: 18px;
    font-weight: 700;
    color: #FA781C;
}
.member-cont .flex-cont .member-num .member-wrap .select-num {
    flex: 0 0 71%;
    display: flex;
    align-items: center;
}
.member-cont .flex-cont .member-num .member-wrap .select-num span {
    display: block;
    padding-left: 0.5rem;
    font-size: 12px;
    font-weight: 600;
    color: #ABABAB;
}
.member-cont .flex-cont .member-num .member-wrap .select-num span b {
    color: #FA781C;
}
.member-cont .flex-cont .member-num .member-wrap .low-select-group {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}
.check-member-low {
    display: none;
}
.check-member-low + .checkbox-label-low {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.check-member-low:checked + .checkbox-label-low {
    background-image: url("../media/checked-icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    border: 0;
    cursor: pointer;
}
.member-cont .flex-cont .member-num .member-wrap .low-select-group span {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #ABABAB;
}
.member-info .member-info-wrap .member-tr {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #EEEEEE;
}
.member-info .member-info-wrap .member-tr li:first-child {
    padding-left: 5.3rem;
}
.member-info .member-info-wrap .member-tr li:nth-child(2) {
    padding-left: 14.7rem;
}
.member-info .member-info-wrap .member-tr li:nth-child(3) {
    padding-left: 5.3rem;
}
.member-info .member-info-wrap .member-tr li:last-child {
    padding-left: 9.9rem;
}
.member-info .member-info-wrap .member-tr li {
    font-size: 12px;
    font-weight: 600;
    color: #666666;
}
.member-info .member-info-wrap .member-scroll {
    overflow-y: scroll;
    max-height: 70vh;
}
.member-info .member-info-wrap .member-scroll::-webkit-scrollbar {
    width: 4px;
}
.member-info .member-info-wrap .member-scroll::-webkit-scrollbar-thumb {
    background-color: #DBDBE0;
}
.member-info .member-info-wrap .member-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}
.member-info .member-info-wrap .member-scroll .__list-member {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #EEEEEE;
}
.member-info .member-info-wrap .member-scroll .__list-member .__list-member-info {
    display: flex;
    align-items: center;
}
.member-info .member-info-wrap .member-scroll .__list-member .__list-member-info figure {
    position: relative;
    width: 44px;
    height: 44px;
}
.member-info .member-info-wrap .member-scroll .__list-member .__list-member-info figure img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.member-info .member-info-wrap .member-scroll .__list-member .__list-member-info span {
    display: block;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}
.member-info .member-info-wrap .member-scroll .__list-member .__list-member-info p:nth-child(3) {
    margin-right: 120px;
    font-size: 12px;
    font-weight: 400;
    color: #AAAAAA;
}
.member-info .member-info-wrap .member-scroll .__list-member .__list-member-info p:nth-child(4) {
    margin-right: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}
.member-info .member-info-wrap .member-scroll .__list-member .__list-member-info p:nth-child(5) {
    margin-right: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}
.member-info .member-info-wrap .member-scroll .__list-member .__list-member-info p:last-child {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}

/* 채팅창 css */
.chat-main .ct_head {
    position: relative;
    background-color: #F3880E;
    border-radius: 10px 10px 0 0;
    padding: 20px 20px;
}
.chat-main .chat-info {
    display: flex;
    align-items: center;
}
.chat-main .chat-info .chat-info-img a {
    display: block;
}
.chat-main .chat-info .chat-info-img img {
    max-width: 100%;
}
.chat-main .chat-info .chat-info-txt {
    padding-left: 12px;
}
.chat-main .chat-info .chat-info-txt span:first-child {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
}
.chat-main .chat-info .chat-info-txt span:last-child {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #FFC485;
}
.chat-main .chat-info .btn-more {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.chat-main .chat-info .btn-more .chat-menu-i {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
.chat-main .chat-info .btn-more img {
    max-width: 100%;
}
.chat-main .chat-info .btn-more .chat-submenu {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 125px;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
}
.chat-main .chat-info .btn-more .chat-submenu li a {
    display: block;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #222222;
    transition: all .3s;
}
.chat-main .chat-info .btn-more .chat-submenu li:hover a {
    background-color: #DDDDDD;
}
.chat-main .chatting-scroll {
    overflow-y: scroll;
    background-color: #F6F6F6;
    border-bottom: 1px solid #DDDDDD;
    height: calc(100vh - 207px);
}
.chat-main .chatting-scroll::-webkit-scrollbar {
    width: 8px;
}
.chat-main .chatting-scroll::-webkit-scrollbar-thumb {
    background-color: #DBDBE0;
    border-radius: 5px;
}
.chat-main .chatting-scroll::-webkit-scrollbar-track {
    background-color: #FBFBFB;
    border-left: 1px solid #DDDDDD;
}
.chat-main .chat-p {
    padding: 0;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left {
    display: flex;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left img {
    max-width: 44px;
    max-height: 44px;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left ._txt-wrap {
    padding-left: 10px;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left ._txt-wrap .name-txt {
    margin: 5px auto 10px;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left ._txt-wrap .name-txt span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #AAAAAA;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left .chat-txt-width .chat-txt-box {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left .chat-txt-width .chat-txt-box p {
    background-color: #FFFFFF;
    padding: 10px 13px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left .chat-txt-width .chat-txt-box:last-child p {
    width: auto;
    word-break: break-all
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left .chat-txt-width .chat-txt-box .time-wrap {
    padding: 0 0 3px 7px;
    min-width: 53px;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left .chat-txt-width .chat-txt-box .time-wrap span {
    display: block;
    font-size: 11px;
    font-weight: 400;
    color: #AAAAAA;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left .chat-txt-width .chat-txt-box .reading-time-wrap {
    padding: 0 0 3px 7px;
    min-width: 53px;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left .chat-txt-width .chat-txt-box .reading-time-wrap span:first-child {
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 400;
    color: #AAAAAA;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left .chat-txt-width .chat-txt-box .reading-time-wrap span:last-child {
    display: block;
    font-size: 11px;
    font-weight: 400;
    color: #AAAAAA;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left .chat-txt-width .chat-txt-box .reading-time-wrap span b {
    font-weight: 700;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-left .chat-txt-box .reading-time-wrap span b img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: revert;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-right {
    display: flex;
    justify-content: flex-end;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-right .chat-txt-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px auto;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-right .chat-txt-box p {
    background-color: #FFD2A4;
    padding: 10px 13px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-right .chat-txt-width .chat-txt-box p {
    width: auto;
    word-break: break-all
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-right .chat-txt-box .reading-time-wrap {
    padding: 0 7px 3px 0;
    min-width: 53px;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-right .chat-txt-box .reading-time-wrap span:first-child {
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 400;
    color: #AAAAAA;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-right .chat-txt-box .reading-time-wrap span:last-child {
    display: block;
    font-size: 11px;
    font-weight: 400;
    color: #AAAAAA;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-right .chat-txt-box .reading-time-wrap span b {
    font-weight: 700;
}
.chat-main .chatting-wrap .chatting-list-wrap .chatting-right .chat-txt-box .reading-time-wrap span b img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: revert;
    transform: rotate(180deg);
}
.chat-main .ct_bottom {
    border-radius: 0 0 10px 10px;
}
.chat-main .__chat-wrap textarea {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 55px;
    border: none;
}
.chat-main .__chat-wrap textarea::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #CCCCCC;
}
.chat-main .__chat-wrap textarea::-webkit-scrollbar {
    display: none;
}
.chat-main .__chat-wrap textarea::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 0;
}
.chat-main .__chat-wrap textarea::-webkit-scrollbar-track {
    background-color: transparent;
    border: 0;
}
.chat-main .__chat-wrap .chat-i-wrap ul {
    display: flex;
}
.chat-main .__chat-wrap .chat-i-wrap ul li {
    margin-right: 10px;
}
.chat-main .__chat-wrap .chat-i-wrap ul li a {
    display: block;
}
.chat-main .__chat-wrap .chat-i-wrap ul li a label {
    display: block;
    cursor: pointer;
}
.chat-main .__chat-wrap .chat-i-wrap ul li a input {
    display: none;
}
.chat-main .__chat-wrap .chat-i-wrap ul li a img {
    max-width: 100%;
}

/* 채팅방 정보 설정 */
.chat-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.chat-room .chat-room-wrap {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
}
.chat-room .chat-room-wrap .ct_head {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
}
.chat-room .chat-room-wrap .ct_head .img-wrap {
    margin-bottom: 10px;
}
.chat-room .chat-room-wrap .ct_head .round-wrap {
    position: relative;
    display: inline-block;
}
.chat-room .chat-room-wrap .ct_head .round-wrap img:first-child {
    max-width: 100%;
}
.chat-room .chat-room-wrap .ct_head .round-wrap a {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
}
.chat-room .chat-room-wrap .ct_head .round-wrap a img {
    max-width: 100%;
}
.chat-room .chat-room-wrap .ct_head .info-txt-wrap span {
    display: block;
    margin-bottom: 9px;
    font-size: 15px;
    font-weight: 700;
    color: #333333;
}
.chat-room .chat-room-wrap .ct_head .info-txt-wrap p {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}
.chat-room .chat-room-wrap .ct_body {
    background-color: #F6F6F6;
    overflow-y: scroll;
    max-height: 340px;
}
.chat-room .chat-room-wrap .ct_body::-webkit-scrollbar {
    width: 8px;
}
.chat-room .chat-room-wrap .ct_body::-webkit-scrollbar-thumb {
    background-color: #DBDBE0;
    border-radius: 5px;
}
.chat-room .chat-room-wrap .ct_body::-webkit-scrollbar-track {
    background-color: #FBFBFB;
    border-left: 1px solid #DDDDDD;
}
.chat-room .chat-room-wrap .person-wrap {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.chat-room .chat-room-wrap .person-wrap .person-img {
    margin-right: 10px;
}
.chat-room .chat-room-wrap .person-wrap .person-img img {
    display: block;
    max-width: 44px;
    max-height: 44px;
}
.chat-room .chat-room-wrap .person-wrap span {
    display: block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}
.chat-room .chat-room-wrap .person-wrap p {
    font-size: 12px;
    font-weight: 400;
    color: #AAAAAA;
}