<div class="global-wrap">
    <div class="main">
        <div class="global-menu">
            <%- include('../../layouts/sidemenu') %>
        </div>
        <div class="content">
            <div class="ct_head">
                <div class="name-search">
                    <%- include('../../layouts/namesearch') %>
                </div>
            </div>
            <div class="ct_wrap">
                <div class="ours-profile">
                    <ul class="ours-list chat">
                        <li class="member_tr list__ chat__">
                            <a href="#" title="">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt=""/>
                                    </figure>
                                    <span class="online-state"></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김이나</p>
                                    <span>사진을 보냈습니다.</span>
                                </div>
                                <div class="date_info">
                                    <p class="date">오전 11:07</p>
                                    <span class="chat_num">10</span>
                                </div>
                            </a>
                        </li>
                        <li class="member_tr list__ chat__">
                            <a href="#" title="">
                                <div class="group-chat-img">
                                    <ul class="list__">
                                        <li><img src="/media/nemo-dummy0.png" alt=""/></li>
                                        <li><img src="/media/nemo-dummy1.png" alt=""/></li>
                                        <li><img src="/media/nemo-dummy0.png" alt=""/></li>
                                        <li><img src="/media/nemo-dummy1.png" alt=""/></li>
                                    </ul>
                                    <span class="online-state"></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>단체방</p>
                                    <span>[공지] 이번 달 컨퍼런스 주제는 주제는 주제 주제주제주제 컨퍼런스</span>
                                </div>
                                <div class="date_info">
                                    <p class="date">오전 11:07</p>
                                    <span class="chat_num">13</span>
                                </div>
                            </a>
                        </li>
                        <li class="member_tr list__ chat__">
                            <a href="#" title="">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt=""/>
                                    </figure>
                                    <span class="online-state"></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김구구</p>
                                    <span>안녕하세요</span>
                                </div>
                                <div class="date_info">
                                    <p class="date">오전 11:07</p>
                                </div>
                            </a>
                        </li>
                        <li class="member_tr list__ chat__">
                            <a href="#" title="">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt=""/>
                                    </figure>
                                    <span class=""></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김팔팔</p>
                                    <span>안녕하세요 소중한 의견</span>
                                </div>
                                <div class="date_info">
                                    <p class="date">오전 11:07</p>
                                    <span class="chat_num">1123</span>
                                </div>
                            </a>
                        </li>
                        <li class="member_tr list__ chat__">
                            <a href="#" title="">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt=""/>
                                    </figure>
                                    <span class=""></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김칠칠</p>
                                    <span>popup.psd</span>
                                </div>
                                <div class="date_info">
                                    <p class="date">오전 11:07</p>
                                    <span class="chat_num">1123</span>
                                </div>
                            </a>
                        </li>
                        <li class="member_tr list__ chat__">
                            <a href="#" title="">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt=""/>
                                    </figure>
                                    <span class="online-state"></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김육육</p>
                                    <span>감사합니다.</span>
                                </div>
                                <div class="date_info">
                                    <p class="date">오전 11:07</p>
                                </div>
                            </a>
                        </li>
                        <li class="member_tr list__ chat__">
                            <a href="#" title="">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt=""/>
                                    </figure>
                                    <span class=""></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김육육</p>
                                    <span>감사합니다.</span>
                                </div>
                                <div class="date_info">
                                    <p class="date">오전 11:07</p>
                                </div>
                            </a>
                        </li>
                        <li class="member_tr list__ chat__">
                            <a href="#" title="">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt=""/>
                                    </figure>
                                    <span class=""></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김육육</p>
                                    <span>감사합니다.</span>
                                </div>
                                <div class="date_info">
                                    <p class="date">오전 11:07</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom_btn">
            <a href="#" title="">
                <img src="/media/i_member.png" alt="">
            </a>
        </div>
    </div>
</div>