<body>
    <div class="global-wrap">
        <div class="main">
            <div class="global-menu">
                <div class="nav-wrap">
                    <ul class="nav-body">
                        <li class="active">
                            <a href="#" title="">
                                <img src="/media/i_profile.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/media/i_chat_list.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/media/i_new_chat.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <img src="/media/i_edit.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="ct_head">
                    <div class="name-search">
                        <input type="text" placeholder="이름 검색"/>
                        <p></p>
                    </div>
                </div>
                <div class="ct_wrap">
                    <div class="my-profile">
                        <div class="togg-tit">
                            <h3>내 프로필</h3>
                            <p class="icon"></p>
                        </div>
                        <div class="member_tr">
                            <div class="profile-img">
                                <figure>
                                    <img src="/media/pf-dummy01.png" alt=""/>
                                </figure>
                                <span class="online-state"></span>
                            </div>
                            <div class="profile-info">
                                <p class=pb-2>박수영</p>
                                <span>선임/디자인파트</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ct_wrap">
                    <div class="ours-profile">
                        <div class="togg-tit">
                            <h3>디자인 파트</h3>
                            <p class="icon"></p>
                        </div>
                        <ul class="ours-list">
                            <li class="member_tr list__">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt=""/>
                                    </figure>
                                    <span class="online-state"></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김이나</p>
                                    <span>선임/디자인파트</span>
                                </div>
                            </li>
                            <li class="member_tr list__">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt=""/>
                                    </figure>
                                    <span class="online-state"></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>박수영</p>
                                    <span>선임/디자인파트</span>
                                </div>
                            </li>
                            <li class="member_tr list__">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt=""/>
                                    </figure>
                                    <span class=""></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김구구</p>
                                    <span>선임/디자인파트</span>
                                </div>
                            </li>
                            <li class="member_tr list__">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt=""/>
                                    </figure>
                                    <span class=""></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김팔팔</p>
                                    <span>선임/디자인파트</span>
                                </div>
                            </li>
                            <li class="member_tr list__">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt=""/>
                                    </figure>
                                    <span class=""></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김칠칠</p>
                                    <span>선임/디자인파트</span>
                                </div>
                            </li>
                            <li class="member_tr list__">
                                <div class="profile-img">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt=""/>
                                    </figure>
                                    <span class=""></span>
                                </div>
                                <div class="profile-info">
                                    <p class=pb-2>김육육</p>
                                    <span>선임/디자인파트</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom_btn">
                <a href="#" title="">
                    <img src="/media/i_member.png" alt="">
                </a>
            </div>
        </div>
    </div>
</body>

<script>
    //     친구 리스트 토글
    $('.my-profile .togg-tit').click(function () {
      $('.content .my-profile .member_tr').slideToggle("100");
      $(this).find(".icon").toggleClass("up down");
    });

    $('.ours-profile .togg-tit').click(function () {
          $('.content .ours-profile .member_tr').slideToggle("100");
          $(this).find(".icon").toggleClass("up down");
        });
</script>