<div class="global-wrap">
    <div class="main">
        <div class="global-menu">
            <%- include('../layouts/sidemenu') %>
        </div>
        <div class="content">
            <div class="ct_head">
                <%- include('../layouts/namesearch') %>
            </div>
            <div class="ct_wrap">
                <div class="my-profile">
                    <div class="togg-tit">
                        <h3>내 프로필</h3>
                        <p class="icon"></p>
                    </div>
                    <div class="member_tr" id="cont-user-info">
                    </div>
                </div>
            </div>
            <div class="ct_wrap">
                <div class="ours-profile">
                    <div class="togg-tit">
                        <h3>디자인 파트</h3>
                        <p class="icon"></p>
                    </div>
                    <ul class="ours-list">
                        <li class="member_tr list__">

                        </li>
                        <li class="member_tr list__">
                            <div class="profile-img">
                                <figure>
                                    <img src="/media/pf-dummy02.png" alt=""/>
                                </figure>
                            </div>
                            <div class="profile-info">
                                <p class=pb-2>박수영</p>
                                <span>선임/디자인파트</span>
                            </div>
                        </li>
                        <li class="member_tr list__">
                            <div class="profile-img">
                                <figure>
                                    <img src="/media/pf-dummy02.png" alt=""/>
                                </figure>
                                <span class=""></span>
                            </div>
                            <div class="profile-info">
                                <p class=pb-2>김구구</p>
                                <span>선임/디자인파트</span>
                            </div>
                        </li>
                        <li class="member_tr list__">
                            <div class="profile-img">
                                <figure>
                                    <img src="/media/pf-dummy02.png" alt=""/>
                                </figure>
                                <span class=""></span>
                            </div>
                            <div class="profile-info">
                                <p class=pb-2>김팔팔</p>
                                <span>선임/디자인파트</span>
                            </div>
                        </li>
                        <li class="member_tr list__">
                            <div class="profile-img">
                                <figure>
                                    <img src="/media/pf-dummy02.png" alt=""/>
                                </figure>
                                <span class=""></span>
                            </div>
                            <div class="profile-info">
                                <p class=pb-2>김칠칠</p>
                                <span>선임/디자인파트</span>
                            </div>
                        </li>
                        <li class="member_tr list__">
                            <div class="profile-img">
                                <figure>
                                    <img src="/media/pf-dummy02.png" alt=""/>
                                </figure>
                                <span class=""></span>
                            </div>
                            <div class="profile-info">
                                <p class=pb-2>김육육</p>
                                <span>선임/디자인파트</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_btn">
        <a href="#" title="">
            <img src="/media/i_member.png" alt="">
        </a>
    </div>
</div>

<script src="/js/socket/friend.socket.js"></script>
<script src="/js/class/user.class.js"></script>
<script src="/js/class/friend.class.js"></script>
<script src="/js/friend/index.js"></script>
<script>
    // 친구 리스트 토글
    $('.my-profile .togg-tit').click(function () {
        $('.content .my-profile .member_tr').slideToggle("100");
        $(this).find(".icon").toggleClass("up down");
    });

    $('.ours-profile .togg-tit').click(function () {
        $('.content .ours-profile .member_tr').slideToggle("100");
        $(this).find(".icon").toggleClass("up down");
    });
</script>