<div class="global-wrap">
    <div class="main">
        <div class="global-menu">
            <%- include('../layouts/sidemenu') %>
        </div>
        <div class="content">
            <div class="ct_head">
                <%- include('../layouts/namesearch') %>
            </div>
            <div class="ct_wrap">
                <div class="my-profile">
                    <div class="togg-tit">
                        <h3>내 프로필</h3>
                        <p class="icon"></p>
                    </div>
                    <div class="profile-list" id="cont-user-info"></div>
                </div>
            </div>
            <div class="ct_wrap">
                <div class="ours-profile">
                    <div class="togg-tit">
                        <h3>디자인 파트</h3>
                        <p class="icon"></p>
                    </div>
                    <div class="ours-list">
                        <div class="ours-list profile-list" id="cont-profile-list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_btn">
        <a href="#" title="">
            <img src="/media/i_member.png" alt="">
        </a>
    </div>
</div>

<script src="/js/class/user.class.js"></script>
<script src="/js/class/friend.class.js"></script>
<script src="/js/friend/index.js"></script>
<script src="/js/socket/friend.socket.js"></script>
<script>
    // 친구 리스트 토글
    $('.my-profile .togg-tit').click(function () {
        $('.content .my-profile .profile-list').slideToggle("100");
        $(this).find(".icon").toggleClass("up down");
    });

    $('.ours-profile .togg-tit').click(function () {
        $('.content .ours-profile .profile-list').slideToggle("100");
        $(this).find(".icon").toggleClass("up down");
    });
</script>