<div class="global-wrap">
    <div class="login-wrapper">
        <div class="login-wrap">
            <div class="logo-wrap">
                <figure>
                    <img src="/media/logo-motionm.png" alt=""/>
                </figure>
                <h2>mo.talk</h2>
            </div>
            <div class="login-area">
                <div class="input-area">
                    <input type="text" id="userId" name="userId" placeholder="LOGIN"/>
                    <input type="password" id="userPw" name="userPw" placeholder="PASSWORD" value="1234"/>
                </div>
                <p class="checkbox">
                    <input id="autoLogin" type="checkbox"/>
                    <label for="autoLogin"></label>
                    <label for="autoLogin">자동로그인</label>
                </p>
                <p class="login-btn">
                    <button onclick="login()">로그인</button>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
function login() {
  localStorage.clear();

  let userId = $('#userId').val();
  let userPw = $('#userPw').val();

  $.ajax({
    url: "/auth/login",
    type: "POST",
    data: {
      userId,
      userPw
    },
    dataType: "html",
    async: true,
    // headers: {
    //   "Authorization": "Bearer "+token
    // },
    success: (data) => {
      localStorage.setItem('user-info', data);
      location.href = '/friend';
    },
    error: (error) => {
      // console.log('error');
      console.log(error);
      alert('로그인에 실패했습니다.');
    },
  });
}
</script>