<div class="global-wrap">
    <div class="chat-main">
        <div class="ct_head">
            <div class="chat-info">
                <div class="chat-info-img">
                    <a href="#">
                        <img src="/media/pf-dummy01.png" alt="">
                    </a>
                </div>
                <div class="chat-info-txt">
                    <span>트라이업 전체방</span>
                    <span>멤버 21명</span>
                </div>
                <div class="btn-more">
                    <a href="#" class="chat-menu-i">
                        <img src="/media/i-chat-menu.png" alt="">
                    </a>
                    <ul class="chat-submenu">
                        <li>
                            <a href="#">새 채팅방 만들기</a>
                        </li>
                        <li>
                            <a href="#">채팅방 설정</a>
                        </li>
                        <li>
                            <a href="#">초대</a>
                        </li>
                        <li>
                            <a href="#">메시지 검색</a>
                        </li>
                        <li>
                            <a href="#">메시지 저장</a>
                        </li>
                        <li>
                            <a href="#">나가기</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ct_wrap chatting-scroll">
            <div class="ct_body chat-p">
                <div class="chatting-wrap">
                    <div class="chatting-list-wrap" id="chat-list">
                        <div class="chatting-left">
                            <div class="_img-wrap">
                                <a href="#">
                                    <img src="/media/pf-dummy01.png" alt="">
                                </a>
                            </div>
                            <div class="_txt-wrap">
                                <div class="name-txt">
                                    <span>김이나</span>
                                </div>
                                <ul class="chat-txt-width">
                                    <li class="chat-txt-box">
                                        <p>공지합니다~~!</p>
                                        <div class="time-wrap">
                                            <span>오후 1:08</span>
                                        </div>
                                    </li>
                                    <li class="chat-txt-box">
                                        <p>스낵바 설문 조사가 시작되었습니다~ 원하는 메뉴 작성해서 올려 주세요!</p>
                                        <div class="reading-time-wrap">
                                            <span>읽음 20 <b><img src="/media/i-read.png" alt=""></b></span>
                                            <span>오후 1:08</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="chatting-right">
                            <ul class="chat-txt-width">
                                <li class="chat-txt-box">
                                    <div class="reading-time-wrap">
                                        <span><b><img src="/media/i-read.png" alt=""></b> 읽음 20</span>
                                        <span>오후 1:09</span>
                                    </div>
                                    <p>넵 알겠습니다!</p>
                                </li>
                            </ul>
                        </div>
                        <div class="chatting-left">
                            <div class="_img-wrap">
                                <a href="#">
                                    <img src="/media/pf-dummy01.png" alt="">
                                </a>
                            </div>
                            <div class="_txt-wrap">
                                <div class="name-txt">
                                    <span>박수영</span>
                                </div>
                                <ul class="chat-txt-width">
                                    <li class="chat-txt-box">
                                        <p>네~</p>
                                        <div class="reading-time-wrap">
                                            <span>읽음 20 <b><img src="/media/i-read.png" alt=""></b></span>
                                            <span>오후 1:08</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="chatting-left">
                            <div class="_img-wrap">
                                <a href="#">
                                    <img src="/media/pf-dummy02.png" alt="">
                                </a>
                            </div>
                            <div class="_txt-wrap">
                                <div class="name-txt">
                                    <span>조성우</span>
                                </div>
                                <ul class="chat-txt-width">
                                    <li class="chat-txt-box">
                                        <p>넵~</p>
                                        <div class="reading-time-wrap">
                                            <span>읽음 20 <b><img src="/media/i-read.png" alt=""></b></span>
                                            <span>오후 1:08</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ct_bottom">
            <div class="__chat-wrap">
                <textarea placeholder="메시지를 입력해 주세요."></textarea>
                <div class="chat-i-wrap">
                    <ul>
                        <li>
                            <a href="#">
                                <input type="file" id="chat-file">
                                <label for="chat-file">
                                    <img src="/media/i-file.png" alt="">
                                </label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="" id="chat-emot">
                                <label for="chat-emot">
                                    <img src="/media/i-emot.png" alt="">
                                </label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input type="" id="chat-clip">
                                <label for="chat-clip">
                                    <img src="/media/i-clip.png" alt="">
                                </label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  const roomIdx = "<%=roomIdx %>";
</script>
<script src="/js/class/chat.class.js"></script>
<script src="/js/chat/index.js"></script>
<script>
    $(document).ready(function(){
        var target = $(".chat-submenu");
        $(document).on("click", ".chat-menu-i", function (e){
            target.show();
            target.addClass('d-block');
        });
        $(document).mouseup(function (e){
            if(target.has(e.target).length==0) {
                target.hide();
                target.removeClass('d-block');
            }
        });
        $(".chat-submenu > li > a").click(function(){
            target.hide();
            target.removeClass('d-block');
        });
    });
</script>