<div class="global-wrap">
    <div class="chat-room">
        <div class="chat-room-wrap">
            <div class="ct_head">
                <div class="img-wrap">
                    <div class="round-wrap">
                        <img src="/media/pf-dummy03.png" alt="">
                        <a href="#">
                            <img src="/media/i-infoedit.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="info-txt-wrap">
                    <span>트라이업 전체방</span>
                    <p>멤버 21명</p>
                </div>
            </div>
            <div class="ct_body">
                <ul>
                    <li class="person-wrap">
                        <div class="person-img">
                           <img src="/media/pf-dummy01.png" alt="">
                        </div>
                        <span>한정은</span>
                        <p>파트장/기획 1파트</p>
                    </li>
                    <li class="person-wrap">
                        <div class="person-img">
                            <img src="/media/pf-dummy01.png" alt="">
                        </div>
                        <span>최민규</span>
                        <p>선임/기획 1파트</p>
                    </li>
                    <li class="person-wrap">
                        <div class="person-img">
                            <img src="/media/pf-dummy01.png" alt="">
                        </div>
                        <span>김건욱</span>
                        <p>주임/기획 1파트</p>
                    </li>
                    <li class="person-wrap">
                        <div class="person-img">
                            <img src="/media/pf-dummy02.png" alt="">
                        </div>
                        <span>이세호</span>
                        <p>사원/ 기획 1파트</p>
                    </li>
                    <li class="person-wrap">
                        <div class="person-img">
                            <img src="/media/pf-dummy01.png" alt="">
                        </div>
                        <span>김원준</span>
                        <p>파트장/기획 2파트</p>
                    </li>
                    <li class="person-wrap">
                        <div class="person-img">
                            <img src="/media/pf-dummy01.png" alt="">
                        </div>
                        <span>이혜진</span>
                        <p>주임/기획 2파트</p>
                    </li>
                    <li class="person-wrap">
                        <div class="person-img">
                            <img src="/media/pf-dummy02.png" alt="">
                        </div>
                        <span>박지연</span>
                        <p>사원/기획 2파트</p>
                    </li>
                    <li class="person-wrap">
                        <div class="person-img">
                            <img src="/media/pf-dummy01.png" alt="">
                        </div>
                        <span>신아라</span>
                        <p>파트장/개발 1파트</p>
                    </li>
                    <li class="person-wrap">
                        <div class="person-img">
                            <img src="/media/pf-dummy01.png" alt="">
                        </div>
                        <span>최현욱</span>
                        <p>선임/개발 1파트</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>