<div class="global-wrap">
    <div class="member">
        <div class="member-cont">
            <!-- 리스트 -->
            <div class="flex-cont">
                <h2>조직도</h2>
                <div class="select-team">
                    <ul class="select-team-wrap">
                        <li class="team-select">
                            <a href="#none" class="__select __select01 active-color">
                                <figure class="arrow1">
                                    <img src="/media/group-arrow02.png" alt="">
                                </figure>
                                <figure>
                                    <img src="/media/group.png" alt="">
                                </figure>
                                트라이업
                            </a>
                            <ul class="select-team-wrap02 __list __list01">
                                <li class="team-select">
                                    <a href="#none" class="__select __select02">
                                        <figure class="arrow1">
                                            <img src="/media/group-arrow02.png" alt="">
                                        </figure>
                                        <figure>
                                            <img src="/media/group02.png" alt="">
                                        </figure>
                                        사업본부
                                    </a>
                                    <ul class="select-team-wrap03 __list __list02">
                                        <li class="team-select">
                                            <a href="#none" class="__select __select03">
                                                <figure class="arrow1">
                                                    <img src="/media/group-arrow02.png" alt="">
                                                </figure>
                                                <figure>
                                                    <img src="/media/group02.png" alt="">
                                                </figure>
                                                기획팀
                                            </a>
                                            <ul class="select-team-wrap04 __list __list03">
                                                <li class="team-select">
                                                    <a href="#none" class="__select">
                                                        <figure>
                                                            <img src="/media/group02.png" alt="">
                                                        </figure>
                                                        기획1파트
                                                    </a>
                                                </li>
                                                <li class="team-select">
                                                    <a href="#none" class="__select">
                                                        <figure>
                                                            <img src="/media/group02.png" alt="">
                                                        </figure>
                                                        기획2파트
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="team-select">
                                            <a href="#none" class="__select __select04">
                                                <figure class="arrow1">
                                                    <img src="/media/group-arrow02.png" alt="">
                                                </figure>
                                                <figure>
                                                    <img src="/media/group02.png" alt="">
                                                </figure>
                                                개발팀
                                            </a>
                                            <ul class="select-team-wrap04 __list __list04">
                                                <li class="team-select">
                                                    <a href="#none" class="__select">
                                                        <figure>
                                                            <img src="/media/group02.png" alt="">
                                                        </figure>
                                                        개발1파트
                                                    </a>
                                                </li>
                                                <li class="team-select">
                                                    <a href="#none" class="__select">
                                                        <figure>
                                                            <img src="/media/group02.png" alt="">
                                                        </figure>
                                                        개발2파트
                                                    </a>
                                                </li>
                                                <li class="team-select">
                                                    <a href="#none" class="__select">
                                                        <figure>
                                                            <img src="/media/group02.png" alt="">
                                                        </figure>
                                                        개발3파트
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="team-select">
                                            <a href="#none" class="__select __select05">
                                                <figure class="arrow1">
                                                    <img src="/media/group-arrow02.png" alt="">
                                                </figure>
                                                <figure>
                                                    <img src="/media/group02.png" alt="">
                                                </figure>
                                                디자인팀
                                            </a>
                                            <ul class="select-team-wrap04 __list __list05">
                                                <li class="team-select">
                                                    <a href="#none" class="__select">
                                                        <figure>
                                                            <img src="/media/group02.png" alt="">
                                                        </figure>
                                                        디자인파트
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="team-select">
                                            <a href="#none" class="__select __select06">
                                                <figure class="arrow1">
                                                    <img src="/media/group-arrow02.png" alt="">
                                                </figure>
                                                <figure>
                                                    <img src="/media/group02.png" alt="">
                                                </figure>
                                                경영지원팀
                                            </a>
                                            <ul class="select-team-wrap04 __list __list06">
                                                <li class="team-select">
                                                    <a href="#none" class="__select">
                                                        <figure>
                                                            <img src="/media/group02.png" alt="">
                                                        </figure>
                                                        경영1파트
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="team-select">
                                            <a href="#none" class="__select __select07">
                                                <figure class="arrow1">
                                                    <img src="/media/group-arrow02.png" alt="">
                                                </figure>
                                                <figure>
                                                    <img src="/media/group02.png" alt="">
                                                </figure>
                                                마케팅팀
                                            </a>
                                            <ul class="select-team-wrap04 __list __list07">
                                                <li class="team-select">
                                                    <a href="#none" class="__select">
                                                        <figure>
                                                            <img src="/media/group02.png" alt="">
                                                        </figure>
                                                        마케팅1파트
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 조직도 -->
            <div class="flex-cont">
                <!-- 검색창 -->
                <div class="border-wrap">
                    <div class="search-mode">
                        <input type="text" placeholder="이름 및 연락처 검색">
                        <div class="search">
                            <a href="#none" class="fas fa-search">
                                <img src="/media/search-icon.png" alt="검색">
                            </a>
                        </div>
                    </div>
                    <div class="member-num">
                        <div class="member-wrap">
                            <div class="select-group">
                                <input type="checkbox" id="all-mem-chk" class="check-member">
                                <label for="all-mem-chk" class="checkbox-label"></label>
                                <label for="all-mem-chk">
                                    <span class="select-member">트라이업</span>
                                </label>
                            </div>
                            <div class="select-num">
                                <span>전체 <b>28</b></span>
                                <span>겸직 <b>1</b></span>
                                <span>휴직 <b>0</b></span>
                            </div>
                            <div class="low-select-group">
                                <input type="checkbox" id="mem-chk-low" class="check-member-low">
                                <label for="mem-chk-low" class="checkbox-label-low"></label>
                                <label for="mem-chk-low">
                                    <span>하위 구성원 포함</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 리스트 정보 -->
                <div class="member-info">
                    <div class="member-info-wrap">
                        <ul class="member-tr">
                            <li>이름</li>
                            <li>휴대폰</li>
                            <li>메일</li>
                            <li>담당업무</li>
                        </ul>
                        <ul class="member-scroll">
                            <li class="__list-member">
                                <input type="checkbox" name="chk" id="mem-chk1" class="check-member">
                                <label for="mem-chk1" class="checkbox-label"></label>
                                <label for="mem-chk1"></label>
                                <div class="__list-member-info">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt="">
                                    </figure>
                                    <span>한정은</span>
                                    <p>파트장/기획 1파트</p>
                                    <p>010-xxxx-xxxx</p>
                                    <p>xxxx_xxx@triupcorp.com</p>
                                    <p>유지운영 및 외부사업</p>
                                </div>
                            </li>
                            <li class="__list-member">
                                <input type="checkbox" name="chk" id="mem-chk2" class="check-member">
                                <label for="mem-chk2" class="checkbox-label"></label>
                                <label for="mem-chk2"></label>
                                <div class="__list-member-info">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt="">
                                    </figure>
                                    <span>한정은</span>
                                    <p>파트장/기획 1파트</p>
                                    <p>010-xxxx-xxxx</p>
                                    <p>xxxx_xxx@triupcorp.com</p>
                                    <p>유지운영 및 외부사업</p>
                                </div>
                            </li>
                            <li class="__list-member">
                                <input type="checkbox" name="chk" id="mem-chk3" class="check-member">
                                <label for="mem-chk3" class="checkbox-label"></label>
                                <label for="mem-chk3"></label>
                                <div class="__list-member-info">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt="">
                                    </figure>
                                    <span>한정은</span>
                                    <p>파트장/기획 1파트</p>
                                    <p>010-xxxx-xxxx</p>
                                    <p>xxxx_xxx@triupcorp.com</p>
                                    <p>유지운영 및 외부사업</p>
                                </div>
                            </li>
                            <li class="__list-member">
                                <input type="checkbox" name="chk" id="mem-chk4" class="check-member">
                                <label for="mem-chk4" class="checkbox-label"></label>
                                <label for="mem-chk4"></label>
                                <div class="__list-member-info">
                                    <figure>
                                        <img src="/media/pf-dummy02.png" alt="">
                                    </figure>
                                    <span>한정은</span>
                                    <p>파트장/기획 1파트</p>
                                    <p>010-xxxx-xxxx</p>
                                    <p>xxxx_xxx@triupcorp.com</p>
                                    <p>유지운영 및 외부사업</p>
                                </div>
                            </li>
                            <li class="__list-member">
                                <input type="checkbox" name="chk" id="mem-chk5" class="check-member">
                                <label for="mem-chk5" class="checkbox-label"></label>
                                <label for="mem-chk5"></label>
                                <div class="__list-member-info">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt="">
                                    </figure>
                                    <span>한정은</span>
                                    <p>파트장/기획 1파트</p>
                                    <p>010-xxxx-xxxx</p>
                                    <p>xxxx_xxx@triupcorp.com</p>
                                    <p>유지운영 및 외부사업</p>
                                </div>
                            </li>
                            <li class="__list-member">
                                <input type="checkbox" name="chk" id="mem-chk6" class="check-member">
                                <label for="mem-chk6" class="checkbox-label"></label>
                                <label for="mem-chk6"></label>
                                <div class="__list-member-info">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt="">
                                    </figure>
                                    <span>한정은</span>
                                    <p>파트장/기획 1파트</p>
                                    <p>010-xxxx-xxxx</p>
                                    <p>xxxx_xxx@triupcorp.com</p>
                                    <p>유지운영 및 외부사업</p>
                                </div>
                            </li>
                            <li class="__list-member">
                                <input type="checkbox" name="chk" id="mem-chk7" class="check-member">
                                <label for="mem-chk7" class="checkbox-label"></label>
                                <label for="mem-chk7"></label>
                                <div class="__list-member-info">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt="">
                                    </figure>
                                    <span>한정은</span>
                                    <p>파트장/기획 1파트</p>
                                    <p>010-xxxx-xxxx</p>
                                    <p>xxxx_xxx@triupcorp.com</p>
                                    <p>유지운영 및 외부사업</p>
                                </div>
                            </li>
                            <li class="__list-member">
                                <input type="checkbox" name="chk" id="mem-chk8" class="check-member">
                                <label for="mem-chk8" class="checkbox-label"></label>
                                <label for="mem-chk8"></label>
                                <div class="__list-member-info">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt="">
                                    </figure>
                                    <span>한정은</span>
                                    <p>파트장/기획 1파트</p>
                                    <p>010-xxxx-xxxx</p>
                                    <p>xxxx_xxx@triupcorp.com</p>
                                    <p>유지운영 및 외부사업</p>
                                </div>
                            </li>
                            <li class="__list-member">
                                <input type="checkbox" name="chk" id="mem-chk9" class="check-member">
                                <label for="mem-chk9" class="checkbox-label"></label>
                                <label for="mem-chk9"></label>
                                <div class="__list-member-info">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt="">
                                    </figure>
                                    <span>한정은</span>
                                    <p>파트장/기획 1파트</p>
                                    <p>010-xxxx-xxxx</p>
                                    <p>xxxx_xxx@triupcorp.com</p>
                                    <p>유지운영 및 외부사업</p>
                                </div>
                            </li>
                            <li class="__list-member">
                                <input type="checkbox" name="chk" id="mem-chk10" class="check-member">
                                <label for="mem-chk10" class="checkbox-label"></label>
                                <label for="mem-chk10"></label>
                                <div class="__list-member-info">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt="">
                                    </figure>
                                    <span>한정은</span>
                                    <p>파트장/기획 1파트</p>
                                    <p>010-xxxx-xxxx</p>
                                    <p>xxxx_xxx@triupcorp.com</p>
                                    <p>유지운영 및 외부사업</p>
                                </div>
                            </li>
                            <li class="__list-member">
                                <input type="checkbox" name="chk" id="mem-chk11" class="check-member">
                                <label for="mem-chk11" class="checkbox-label"></label>
                                <label for="mem-chk11"></label>
                                <div class="__list-member-info">
                                    <figure>
                                        <img src="/media/pf-dummy01.png" alt="">
                                    </figure>
                                    <span>한정은</span>
                                    <p>파트장/기획 1파트</p>
                                    <p>010-xxxx-xxxx</p>
                                    <p>xxxx_xxx@triupcorp.com</p>
                                    <p>유지운영 및 외부사업</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // 조직도 리스트 토글
    $('.select-team .__select01').click(function () {
        // $(this).toggleClass("active-color");
        $('.select-team .__list01').slideToggle("100");
        $('.select-team-wrap .__select01 > .arrow1').toggleClass("arrow2");
    });
    $('.select-team .__select02').click(function () {
        $('.select-team .__list02').slideToggle("100");
        $('.select-team-wrap .__select02 > .arrow1').toggleClass("arrow2");
    });
    $('.select-team .__select03').click(function () {
        $('.select-team .__list03').slideToggle("100");
        $('.select-team-wrap .__select03 > .arrow1').toggleClass("arrow2");
    });
    $('.select-team .__select04').click(function () {
        $('.select-team .__list04').slideToggle("100");
        $('.select-team-wrap .__select04 > .arrow1').toggleClass("arrow2");
    });
    $('.select-team .__select05').click(function () {
        $('.select-team .__list05').slideToggle("100");
        $('.select-team-wrap .__select05 > .arrow1').toggleClass("arrow2");
    });
    $('.select-team .__select06').click(function () {
        $('.select-team .__list06').slideToggle("100");
        $('.select-team-wrap .__select06 > .arrow1').toggleClass("arrow2");
    });
    $('.select-team .__select07').click(function () {
        $('.select-team .__list07').slideToggle("100");
        $('.select-team-wrap .__select07 > .arrow1').toggleClass("arrow2");
    });

    var div2 = document.getElementsByClassName("__select");

    function handleClick(event) {
        if (event.target.classList[1] === "active-color") {
            event.target.classList.remove("active-color");
        } else {
            for (var i = 0; i < div2.length; i++) {
                div2[i].classList.remove("active-color");
            }

            event.target.classList.add("active-color");
        }
    }
    function init() {
        for (var i = 0; i < div2.length; i++) {
            div2[i].addEventListener("click", handleClick);
        }
    }
    init();

    // 전체 체크 해제
    $("#all-mem-chk").click(function() {
        if($("#all-mem-chk").is(":checked")) $("input[name=chk]").prop("checked", true);
        else $("input[name=chk]").prop("checked", false);
    });
    $("input[name=chk]").click(function() {
        var total = $("input[name=chk]").length;
        var checked = $("input[name=chk]:checked").length;

        if(total != checked) $("#all-mem-chk").prop("checked", false);
        else $("#all-mem-chk").prop("checked", true);
    });
</script>